#order-container{
    margin-top: 8vh;
    min-height: 63vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    #order-text {
        height: 8vh;
        display: flex;
        align-items: center;
        font-size: 5vh;
        margin: 2vh 0vw;
    }

    .order{
        border: 2px solid black;
        border-radius: 20px;
        padding: 1vw 1vw;
        width: 90%;
        margin: 1vh 1vw;

        .order-products{
            padding: 1vw 1vw;
            display: flex;
            align-items: center;
            justify-content: space-around;

            p{
                width: 15%;
            }
            p:first-child{
                width: 45%;
            }

            img{
                width: 20%;
            }
            button{
                border: 2px solid black;
                border-radius: 20px;
                padding: 1vw 1vw;
                background-color: var(--main-blue);
                color: white;
            }
            .count-price-order{
                width: 20%;
                display: flex;
            }
        }
        
    }
}

@media (max-width: 600px){
    #order-container{
        margin-top: 6vh;

        .order-products{
            padding: 1vw 1vw;
            display: flex;
            align-items: center;
            justify-content: space-around;

            p{
                width: 15%;
            }
            p:first-child{
                width: 45%;
            }

            img{
                width: 20%;
            }
            button{
                border: 2px solid black;
                border-radius: 20px;
                padding: 3vh 1vw;
                background-color: var(--main-blue);
                color: white;
            }
            .count-price-order{
                width: 20%;
                display: flex;
                flex-direction: column;
            }
        }
    }
}