#checkout-container {
  margin-top: 6rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 55vw 30vw;
  grid-template-rows: 5fr;
  gap: 1.5rem 1vw;

  #user-information {
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: var(--main-grey);
    border-radius: 20px;
    padding: 1.5rem 4vw;

    h1 {
      text-align: center;
    }

    button {
      background-color: var(--main-blue);
      color: white;
      padding: 0.75rem 1vw;
      border-radius: 20px;
      margin-top: 1.5rem;
      font-size: 0.75rem;
      transition: 0.5s;

      &:hover {
        scale: 1.05;
        background-color: var(--main-light-blue);
      }
    }
  }
  #checkout-products-list {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 0.5rem 1vw;
    background-color: var(--main-grey);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;

    .checkout-product {
      width: 90%;
      display: flex;
      align-items: center;

      .checkout-product-img {
        width: 25%;
        img {
          width: 100%;
        }
      }
      #checkout-product-details {
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;

        .checkout-product-center {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0rem 2vw;

          p {
            width: 100%;
            &:first-child {
              width: 20%;
            }
          }
        }

        #product-price {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25%;

          p {
            &:first-child {
              margin-right: 2vw;
            }
          }
        }
      }
    }
  }

  #user-payments {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: var(--main-grey);
    border-radius: 20px;
    padding: 0.5rem 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      padding: 1vw 1vw;
      margin: 0.5rem;
      background-color: var(--main-blue);
      color: white;
      border-radius: 20px;
      transition: 0.3s;
      cursor: pointer;
      width: 60%;
      text-align: center;

      &:hover {
        scale: 1.05;
        background-color: var(--main-light-blue);
      }
    }
  }
  #delivery-container {
    grid-column-start: 1;
    grid-row-start: 5;
    background-color: var(--main-grey);
    border-radius: 20px;
    padding: 1vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      padding: 0.5rem 1vw;
      margin: 0.5rem;
      background-color: var(--main-blue);
      color: white;
      border-radius: 20px;
      transition: 0.3s;
      cursor: pointer;
      width: 60%;
      text-align: center;

      &:hover {
        scale: 1.05;
        background-color: var(--main-light-blue);
      }
    }
  }

  #checkout-details-container {
    background-color: var(--main-blue);
    color: white;
    padding: 1.5rem 4vw;
    position: fixed;
    top: 6rem;
    right: 4vw;
    width: 23vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .checkout-details {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  #checkout-sum-main {
    padding: 1.5rem 4vw;
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 11.5rem;
    right: 4vw;
    width: 23vw;
    background-color: var(--main-blue);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;

    button {
      background-color: white;
      padding: 0.5rem 1vw;
      border-radius: 20px;
      margin-top: 1.5rem;
      transition: 0.5s;

      &:hover {
        scale: 1.05;
        background-color: var(--main-grey);
      }
    }

    .checkout-details {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    #demo-info {
      background-color: red;
      border-radius: 10px;
      padding: 0.5rem 1vw;
      text-align: center;
      margin-top: 1rem;
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 1100px) {
  #checkout-container {
    width: 100%;
    grid-template-columns: 1fr;

    #user-information {
      margin: 0rem 2vw;

      button {
        width: 60%;
        padding: 0.5rem 1vw;
        font-size: 1rem;
      }
    }
    #checkout-products-list {
      margin: 0rem 2vw;

      .checkout-product{

      #checkout-product-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;

        .checkout-product-center {
          width: 90%;

          p {
            width: 100%;
            &:first-child {
              width: 20%;
            }
          }
        }

        #product-price {
          width: 100%;
          margin-top: 0.5rem;

          p {
            &:first-child {
              margin-right: 2vw;
            }
          }
        }
      }
    }
    }

    #user-payments {
      margin: 0rem 2vw;
    }
    #delivery-container {
      margin: 0rem 2vw;
    }

    #checkout-details-container {
      background-color: var(--main-grey);
      color: black;
      position: static;
      width: auto;
      margin: 0rem 2vw;

      .checkout-details {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    #checkout-sum-main {
      padding: 1.5rem 0vw;
      position: sticky;
      bottom: 0rem;
      right: 0vw;
      width: 100%;
      height: 10rem;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      .checkout-details{
        width: 90%;
      }
      p {
        margin: 0rem 4vw;
        font-size: 1.2rem;
      }

      button {
        padding: 0.75rem 4vw;
        margin: 0rem 4vw;
        font-size: 0.8rem;
      }
      #demo-info {
        width: 70%;
        p{
          font-size: 0.7rem;
        }
        margin: 1.5rem 4vw;
      }
    }
  }
}
@media (max-width: 1100px){
  #checkout-container{
  h1{
    font-size: 1.5rem;
  }
  #user-payments{
    p{
      padding: 1rem 1rem;
      font-size: 0.8rem;
    }
  }
  #delivery-container{
    p{
      font-size: 0.8rem;
    }
  }
}
}