
#big-advert{
    width: 100%;
    height: 30vh;
    background-color: blue;
    color: white;
    margin-top: 8vh;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

#home-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    #products-container{
        display: grid;
        width: 90%;
        padding: 3vh 0vw;
        grid-template-columns: repeat(4,1fr);
        gap: 10vh 2vw;
    }
}

@media (max-width: 1250px) {
    #big-advert{
        height: 25vh;
    }
    #home-page-container{
    
        #products-container{
            grid-template-columns: repeat(3,1fr);
        }
    }
  }
@media (max-width: 950px) {
    #big-advert{
        height: 25vh;
    }
    #home-page-container{
    
        #products-container{
            grid-template-columns: repeat(2,1fr);
        }
    }
  }
@media (max-width: 600px) {
    #big-advert{
        height: 12vh;
        margin-top: 6vh;
    }
    #home-page-container{
        min-height: 50vh;
    
        #products-container{
            display: grid;
            width: 95%;
            padding: 3vh 3vw;
            grid-template-columns: repeat(2,1fr);
            gap: 2vh 2vw;
        }
    }
  }

