:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;
  font-size: 2vh;
  --main-blue: #0a7db1;
  --main-light-blue:#0c96d6;
  --main-grey: rgb(218, 218, 218);
  
  
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  cursor: default;
}

button{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: black;
  cursor: pointer;
  font-size: 2vh;
}

p{
  margin: 0;
}