

#product-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 3vh;
    margin-top: 8vh;

    #product-left{
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 4vh;
        border-right: 2px solid black;
        img{
            width: 50%;
            padding: 2vh 2vw 6vh 2vw;
        }

        #description{
            padding: 5vh 0vw;
            width: 80%;
        }
    }
    #product-right{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 35%;
        position: fixed;
        top: 13vh;
        right: 0vw;
        

        #product-name{
            font-size: 5vh;
        }

        
        #count-add-section{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 30%;
            background-color: var(--main-blue);
            border-radius: 10px;
            color: white;
            margin-top: 4vh;
            
            p{
                border-right: 2px solid white;
                width: 30%;
                text-align: center;
            }
            button{
                background-color: var(--main-blue);
                color: white;
                padding: 1.5vh 1vw;
                font-size: 2vh;
                transition: 0.4s;
                // border-top-right-radius: 10px;
                // border-bottom-right-radius: 10px;
                border-radius: 10px;
                width: 100%;

                &:hover{
                    background-color: grey;
                }

            }
    
        }
        #payments{
            margin-top: 3vh;
            font-size: 2vh;
            font-weight: bold;
            img{
                margin-top: 2vh;
            }

        }
        .shipping{
            margin-top: 3vh;
            font-size: 2vh;
            display: flex;
            align-items: center;
            border: 2px solid black;
            width: 70%;
            padding: 1vh 1vw;
            border-radius: 10px;
            img{
                width: 15%;
                margin-right: 3vw;
            }
        }
    }
}

@media (max-width: 600px) {
    #product-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 3vh;
        margin-top: 8vh;

        #product-left{
            width: 100%;
            border-right: none;
            img{
                width: 80%;
            }
    
            #description{
                width: 80%;
                position: absolute;
                top: 135vh;

            }
        }

        #product-right{
            width: 90%;
            position: static;
            
    
            #payments{
                img{
                    width: 100%;
                }
    
            }
        }
    }
  }
