@keyframes infoShow {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes infoLineAnimation {
    0%{
        width: 95%;
    }
    100%{
        width: 0%;
    }
}

#info-container{
    position: fixed;
    top: 4vh;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    background-color: var(--main-blue);
    color: white;
    height: 10vh;
    width: 22vw;
    padding: 1vh 1vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid white;
    font-size: 3vh;
    animation: 3s infoShow forwards;

    #animate-container{
        margin-top: 5%;
        height: 10%;
        width: 90%;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px;

        #animate-line{
            height: 60%;
            width: 95%;
            margin-left: 2%;
            background-color: black;
            animation: 3s infoLineAnimation forwards;
            border-radius: 10px;
        }
    }

}

#product-card-container{
    border-radius: 10px;
    text-align: center;
    padding: 3vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: calc(100vw/6);
    background-color: rgb(218, 218, 218);
    
    img{
        height: 60%;
        width: 90%;
        object-fit: contain;
        cursor: pointer;
    }
    #product-card-info{
        height: 40%;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 3vh;
        margin-top: 2vh;
        width: 100%;
        position: relative;

        .full-text{
            display: none;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.479);
            top: -5vh;
            border: 1px solid black;
            border-radius: 10px;
            font-size: 1.5vh;
            padding: 1vh 1vw;
            max-width: 90%;
            text-wrap: wrap;

        }

        .product-name{
            cursor: pointer;
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
            &:hover{
                text-decoration: underline;
            }
            &:hover .full-text{
                display: block;
            }
        }
    
        button{
            background-color: var(--main-blue);
            color: white;
            padding: 1.5vh 1vw;
            border-radius: 10px;

            &:hover{
                background-color: #096f9e;
            }
        }
    }
    
}

@media (max-width: 1250px) {
    #info-container{
        width: 30vw;
    }
    #product-card-container{
        width: calc(100vw/4);
    }
  }
@media (max-width: 950px) {
    #info-container{
        width: 43vw;
    }
    #product-card-container{
        width: calc(100vw/3);
    }
  }

@media (max-width: 600px) {
    #info-container{
        width: 70vw;
    }
    #product-card-container{
        padding: 2vh;
        height: 30vh;
        width: calc(100vw/2.8);

        #product-card-info{
            height: 40%;
            font-size: 2vh;
            margin-top: 2vh;

            button{
                padding: 1.5vh 1vw;
                font-size: 1.5vh;
            }
        }
    }
  }
